{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <title> E Notes</title>
        <link rel="icon" type="image/png" href="{% static 'images/bcastudyarenalogo.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/bcastudyarenalogopng' %}">

        <meta name="msapplication-TileColor" content="#ADD8E6">
        <meta name="msapplication-TileImage" content="{% static 'images/bcastudyarenalogo.png' %}">
        <meta name="msapplication-square70x70logo" content="{% static 'images/bcastudyarenalogo.png' %}">


        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="/static/javascript/script.js"></script>
    </head>


<body>
    <div id="loading-overlay">
        <img src="/static/images/loading_gif.gif" alt="Loading">
      </div>
 {% include 'header.html' %}
  
{% block account %}
{% endblock%}

{% block upload_notes %}
{% endblock %}

{% block cf %}
{% endblock %}

{% block eng %}
{% endblock %}

{% block maths %}
{% endblock %}

{% block office %}
{% endblock %}

{% block about %}
{% endblock %}

{% block searchnotes %}
{% endblock %}

{% block login %}
{% endblock %}

{% block feedback %}
{% endblock %}

{% block profile %}
{% endblock %}

{% block searchresult %}
{% endblock %}

{% block home %}
{% endblock %}

{% block verification %}
{% endblock %}

{% block cpro %}
{% endblock %}

{% block google %}
{% endblock %}


</body>
</html>