{% extends 'base.html'%}
{% load static %}
{% block searchnotes %}
{% include 'search.html'%}

<div class="container mt-4">
    <div class="row">
        <div style="padding-top: 1cm;" class="col-lg-6">
          <h1 class="title" >
            
            <span class="darkblue bold">Notes</span>
          </h1>
          <p style="padding-top: 1cm; line-height: 2;" class="text">The note page on our website serves as a hub for users to seamlessly manage their digital notes. Upon logging in, users can effortlessly upload their notes, ensuring that their valuable information is securely stored and accessible whenever they need it. With a user-friendly interface, organizing and categorizing notes becomes a breeze. Our platform prioritizes user convenience by offering the option to effortlessly download notes, making them accessible across devices. Whether it's lecture notes, important reminders, or creative ideas, our note page simplifies the process of staying organized and efficient. We understand the importance of preserving your thoughts and ideas, and our note page is designed to safeguard them, giving you peace of mind. Join us in harnessing the power of digital note-taking, and unlock a world of productivity and accessibility.
        </div>
        <div class="col-lg-6">
            <img style="height: 100%;width: 100%; padding-left: 1cm;" class="img-fluid no-bg-image"src="{% static 'images/notes.png' %}" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <h2 style="text-align: center; padding-bottom: 1cm;" class="title">All Notes </h2>
        {% for note in notes %}
         {% if note.is_public %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title heading" style="text-align: center;">{{ note.title }}</h5>
                        <p class="card-text over">{{ note.description }}</p>
                        <div style="margin-top: auto;">
                        {% if user.is_authenticated %}
                        <a href="{{ note.pdf_file.url }}" class="custom-button" >download</a>
                        {% else %}
                        <a href="{% url 'login'%}" class="custom-button"> Login to download</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">By: {{ note.user.username }}</small>
                    </div>
                </div>
            </div>
         {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}