{% extends 'base.html' %}
{% block verification%}


<div class="bg-image"></div>
<div class="form-container shadow">
    <form>
        <div style="text-align: center;">
            <h3>
                <span class="create-text">OTP sent on</span>
                <span class="new-account-text">{{email}}</span>
            </h3> 
        </div>
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputUsername">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div style="padding-bottom: 10px; text-align: center;" > 
        <button style="width: 200px;" type="submit" class="btn btn-primary">Login</button>
        </div>
        <div><h3 style="text-align: center; color: aqua;">Or</h3></div>
        <div style="text-align: center;" >
            <a  href="{% url 'signup'%}" class="mb-3 form-label">Create account</a>
        </div>
    </form>
</div>


{% endblock %}